body{
  background-image: url(images/pexels-alesia-kozik-6777563.jpg);
  background-color: #3e4450;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.form-flex {
  justify-self: center;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
}

.form-flex input{
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  margin: 3px 0;
  outline: 1.5px solid black;
}

.form-flex button{
  margin-top: 7.5px;
  width: 100%;
}

.form-flex form{
  background-color: aliceblue;
  border-radius:4px;
  box-shadow: 5px 2.5px 2.5px rgb(39, 38, 38);
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  padding: 20px;
  line-height:2rem;
}

.form-flex h1{
  color: aliceblue;
  text-shadow: 1px 1px 2px black;
}

.container{
  height:700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#wallet-container{
  background-color:aliceblue;
  justify-self: center;
}
/* #wallet-image{
  max-width: 522px;
} */
